<div class="container text-center bg-primary text-light">
  <div class="row">
    <div class="col">
      Nome
    </div>
    <div class="col">
      Telefone
    </div>
    <div class="col">
      Origem
    </div>
    <div class="col">
      Data de Contato
    </div>
    <div class="col">
      Observação
    </div>
  </div>
</div>